.sizebutton{
	align:left;
	margin-bottom:20px;
	margin-left:20px;
	margin-right:20px;
	margin-top:20px;
}
.button
{
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 1px 15px;
	margin: 20px 20px 20px 0px;
	background: rgba(0,0,0,0.25);
	border: 0 none;
	border-radius: 3px;
	text-shadow: 0 -1px 0 #96F;
	box-shadow: 0 1px 0 #96F, 0 1px 0 #96F, 0 6px 6px rgba(0,0,0,0.2);
	cursor: help;
	
}
.button:hover, button:focus
{
	-webkit-animation: pulsate 1.2s linear infinite;
	animation: pulsate 1.2s linear infinite;
	
  
}

@-webkit-keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #93F; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #96F; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #93F; }
}
		
@keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #93F; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #96F; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #93F; }
}
.sizes{
font-size:22px;
font-style:italic;
font-family:Tahoma, Geneva, sans-serif;
font-size-adjust:inherit;
font-weight:300;
text-transform:uppercase;

}
.sizec{
font-size:15px;
font-style:italic;
font-family:Tahoma, Geneva, sans-serif;
font-size-adjust:inherit;
font-weight:300;
text-transform:uppercase;	
}
.size{
	
font-size:20px;
font-style:italic;
font-family:Tahoma, Geneva, sans-serif;
font-size-adjust: none;
font-weight:100;
text-transform:uppercase;	
margin: auto;
}
.rightpanneladmin1{
position:fixed;
float:left;
margin:0;
padding:0;
top:120;
left:1056px;
right:150;
width:23%;
height:510px;
font-family:Arial;
text-shadow: 1px 1px 1px #000;
border-top: 1px solid rgba(0,0,0,0.5);
background: rgba(0,0,0,0.25);
}
.rightpannel{
position:fixed;
float:left;
margin:0;
padding:0;
top:177;
left:1056px;
right:150;
width:23%;
height:451px;
font-family:Arial;
text-shadow: 1px 1px 1px #000;
border-top: 1px solid rgba(0,0,0,0.5);
background: rgba(0,0,0,0.25);
}
.footer h2{
font-weight:normal;
font-size:14px;
text-decoration:underline;
color:#cc0000;
margin-top:10px;
margin-bottom:1px;
margin-left:2px;
}
.footer p{
color:whilte;
font-size:12px;
float:left;
padding: 0px 10px;
margin:10px opx;
}
.footer img{
border:none;
}
.footer li ul{
list-style:none;
padding:0px;
margin-bottom:12px;
	
}
#clear{
 clear:both;
 display:block;
 overflow:hidden;
 visibility:hidden;
 width:0px;
 height:0px;
 }
#footer .whiteBorder{
	border: 1px solid white;
	
 }
#footer .img_left{
	float:left;
	margin-right:10px;
	width: 40px;
	 
 }
#footer.black_box{
	background: rgba(0,0,0,0.4);
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
 }
 #footer #notifications {
	float:right;
	width:auto;
	margin: 5px 15px 0px;
	padding: 0px;
	overflow: hidden;
}
#footer #notifications li{
 margin-right: 12px;
 float: left;
 width: 24px;
 padding: 0px;
 height: 32px;
 list-style: none;
 	
}
#footer #notifications li:hover{
 margin-top: -1px;	
}
a.notificationIcons span{
display:none;
font-size: 12px;
color: white;
bottom: 45px;
width: 150px;
position: absolute;
border: 1px solid #333333;
border-radius: 3px;
padding: 5px;
margin-left: -75px;
background: rgba(0,0,0,0.4);
}
#.notificationIcons:hover span{
display:block;	
}
#footer_menu{
margin: 0px;
padding: 0px;
width: auto;

}
#footer_menu li{
	list-style:none;
	float: left;
	font-size: 12px;
	padding: 12px 14px 14px 14px;
	border-right: 1px solid rgba(0,0,0,0.4);
	background: rgba(0,0,0,0.1);
}
#footer_menu li:hover{
 background: rgba(0,0,0,0.3);
 	
}
#footer_menu li a{
 display: block;
 color: #cccccc;
 text-decoration: none;
 }
#footer_menu li a:hover{
 color: white;	
}
#footer_menu.homebutton{
	padding: 5px 8px 0px 14px;
	border: none;
	background: none;
}
#footer_menu.homebutton a{
 background: url("images2.png") top left no-repeat;
 width: 5px;
 height: 5px;
}
#footer_menu.homebutton:hover{
background: none;
}
/* programs menu drop-up*/
#footer_menu li ul.dropup{
 display:none;
 float:right;
 	
}
#footer_menu li:hover ul.dropup{
	display: block;
	position: absolute;
	margin: 0 0 0 -15px;
	bottom: 40px;
	border: 1px solid #F00;
	border-bottom: none;
	background: rgba(0,0,0,0.5);
	border-radius: 7px 7px 0px 0px;
	float:right;
}
#footer_menu li:hover li{
float:none;
background: none;

border: none;
border-bottom: 1ox solid #111111;
padding: 12px 10px 12px 10px;
}
/* drop up default links*/
#footer_menu li:hover a{
	color: #aaaaaa;
}
#footer_menu li:hover a:hover{
	color:white
}
/*header link*/

 
 .admin{
position:fixed;
float:left;
margin:0;
padding:0;
top:470px;
left:1059px;
right:160px;
width:23%;
height:165px;
font-family:Arial;
text-shadow: 1px 1px 1px #000;
border-top: 1px solid rgba(0,0,0,0.5);
background: rgba(0,0,0,0.25);
}